# Node / Backend
node_modules/
.env
uploads/
backend/config/firebase-service-account.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Firebase configs for Flutter
mobile/android/app/google-services.json
mobile/ios/Runner/GoogleService-Info.plist
mobile/lib/firebase_options.dart

# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.buildlog/
.history

# Flutter repo-specific
/bin/cache/
/bin/internal/bootstrap.bat
/bin/internal/bootstrap.sh
/bin/mingit/
/dev/benchmarks/mega_gallery/
/dev/bots/.recipe_deps
/dev/bots/android_tools/
/dev/devicelab/ABresults*.json
/dev/docs/doc/
/dev/docs/flutter.docs.zip
/dev/docs/lib/
/dev/docs/pubspec.yaml
/dev/integration_tests/**/xcuserdata
/dev/integration_tests/**/Pods
/packages/flutter/coverage/
version
analysis_benchmark.json

# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-preload-cache/
.pub/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

# Android
.gradle/
**/android/**/gradle-wrapper.jar
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# iOS / macOS
**/ios/**/Pods/
**/ios/**/DerivedData/
**/ios/**/xcuserdata/
**/ios/Flutter/ephemeral/
**/macos/Flutter/ephemeral/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/xcuserdata/

# Windows
**/windows/flutter/generated_plugin_registrant.*

# Linux
**/linux/flutter/generated_plugin_registrant.*

# Coverage
coverage/
